@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;

  /* border-width: 1px;
  border-color: red; */

  background-color: rgb(23 23 23);
  color: rgb(230, 230, 230);
}


*::-webkit-scrollbar {
  display: none;
}

/* .card {
  background-color: rgb(26, 26, 26);
} */

/* .wrapper {
  --scrollbar-width: 1px;

  --mask-height: 200px;

  overflow-y: auto;
  ;


  padding-bottom: var(--mask-height);




  --mask-image-content: linear-gradient(to bottom,

      black var(--mask-height),
      black calc(0% - var(--mask-height)),
      transparent);

  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;


  --mask-image-scrollbar: linear-gradient(rgb(0, 0, 0), black);


  --mask-size-scrollbar: var(--scrollbar-width) 100%;


  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);


  mask-position: 0 0, 100% 0;


  mask-repeat: no-repeat, no-repeat;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}